.footer {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
}

.footer__infos {
  display: flex;
  border-inline: 1px solid #000000;
  width: 80%;
  height: 100%;
  max-width: 1920px;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__location,
.footer__mail {
  font-family: "Gravita GEO Medium";
  font-size: 0.625rem;
  font-weight: normal;
  color: #000000;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 39px;
  margin-top: 1.5rem;
  align-content: center;
}

.footer__divider {
  height: 100%;
  border-right: 1px solid #000000;
}

.footer__divider--mobile-only {
  display: block;
}

.footer__divider--desktop {
  display: none;
}

.footer__mail {
  width: 64.92%;
}

.footer__location {
  display: none;
  width: 33.9%;
}

.footer__socials {
  width: 35.08%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 39px;
}

.footer__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socials img {
  height: 21px;
  width: 21px;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .footer {
    height: 253px;
  }
  .footer__infos {
    width: 75%;
  }
  .footer__mail {
    width: 50.625%;
  }
  .footer__socials {
    flex: 1;
    border-left: 1px solid #000000;
  }
  .footer__location,
  .footer__mail,
  .footer__socials {
    height: 79px;
    margin-top: 3.375rem;
  }
  .footer__divider--desktop,
  .footer__location {
    display: block;
  }
  .footer__divider--mobile-only {
    display: none;
  }
  .footer__socials img {
    height: 26px;
    width: 26px;
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}

/* 3xl */
@media (min-width: 1920px) {
}
