.header {
  padding: clamp(1.5rem, 1.2581rem + 1.2097vw, 3rem);
  width: 80%;
  max-width: 1920px;
  border-inline: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__ilyes {
  display: none;
}

.header__link-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.header__ilyes,
.header__link {
  padding: 1rem 0;
  flex: 1;
  border: 2px solid #ffffff;
  background: none;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Gravita GEO Medium";
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.header__ilyes:hover,
.header__link:hover {
  background-color: #ffffff;
  color: #000000;
}

.header__ilyes:active,
.header__link:active {
  opacity: 0.85;
  transform: scale(0.9);
}

.header__link:last-child {
  grid-column: 1 / -1;
}

.header__link--active {
  background-color: #ffffff;
  color: #000000;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .header {
    justify-content: space-between;
    width: 75%;
    padding-left: 9%;
    padding-right: 6.8%;
  }
  .header__ilyes {
    display: block;
  }
  .header__link-group {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, -0.3rem + 1.25vw, 1.5rem);
    width: fit-content;
  }
  .header__ilyes,
  .header__link {
    flex: none;
    padding: 0.5rem clamp(1rem, -1rem + 3.125vw, 3.5rem);
    font-size: clamp(0.75rem, 0.5rem + 0.3906vw, 1.25rem);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__link-container {
    gap: 1rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header__link {
    padding: 0.5rem 2.5rem;
  }
}

/* 3xl */
@media (min-width: 1920px) {
}
