.header {
  padding: 1.5rem;
  width: calc(100% - 4rem);
  border-inline: 1px solid #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.header--desktop {
  display: none;
}

.header__ilyes {
  display: none;
}

.header__ilyes,
.header__link {
  padding: 1rem 0;
  flex: 1;
  border: 2px solid #ffffff;
  background: none;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Gravita GEO Medium";
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.header__link:last-child {
  grid-column: 1 / -1;
}

.header__link--active {
  background-color: #ffffff;
  color: #000000;
}

.header__link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .header {
    width: calc(100% - 8rem);
  }
}

/* lg */
@media (min-width: 1024px) {
  .header {
    display: none;
  }
  .header__ilyes {
    display: block;
  }
  .header--desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    max-width: 1920px;
    padding: 3rem 6.8%;
  }
  .header--about {
    width: 85%;
  }
  .header__ilyes {
    flex: none;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: clamp(0.75rem, 0.5rem + 0.3906vw, 1.25rem);
  }
  .header__link {
    flex: none;
    padding: 0.5rem 1rem;
    font-size: clamp(0.75rem, 0.5rem + 0.3906vw, 1.25rem);
  }
}

/* xl */
@media (min-width: 1280px) {
  .header__link-container {
    gap: 1rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header__link {
    padding: 0.5rem 2.5rem;
  }
}

/* 3xl */
@media (min-width: 1920px) {
}
