.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4rem);
  border-inline: 1px solid #ffffff;
}

.about--desktop {
  display: none;
}

.about__title {
  font-family: "TT Commons Black";
  font-size: clamp(3.5rem, -0.4286rem + 19.6429vw, 9rem);
  color: #ffffff;
  margin: 5% 0;
}

.about__pic-container {
  position: relative;
}

.about__noise-bg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.about__moodynne {
  position: absolute;
  display: block;
  width: 60%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.about__paragraph {
  font-family: "Dosis Light";
  font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem);
  color: #ffffff;
  padding: 1.5rem;
}

.about__infos {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .about {
    width: calc(100% - 8rem);
  }
}

/* lg */
@media (min-width: 1024px) {
  .about {
    display: none;
    width: 85%;
    max-width: 1920px;
  }
  .about--desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
  }
  .about__pic-container {
    grid-column: span 6;
  }
  .about__title {
    font-size: clamp(4.5rem, -0.25rem + 7.4219vw, 14rem);
    align-self: center;
    justify-self: center;
    margin: 2% 0;
  }
  .about__paragraph {
    font-size: clamp(0.75rem, 0.25rem + 0.7813vw, 1.75rem);
  }
  .about__noise-bg {
    height: 100%;
    object-fit: cover;
  }
  .about__moodynne {
    width: 60%;
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}

/* 3xl */
@media (min-width: 1920px) {
}
