.title--mobile {
  width: calc(100% - 4rem);
  border-inline: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem 1.5rem 2rem;
}

.title__text {
  font-family: "TT Commons Black";
  color: #ffffff;
  font-size: 5rem;
  line-height: 1.1;
}

.arrows--mobile {
  width: calc(100% - 4rem);
  border-inline: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows__icon {
  font-family: "Gimbo Black";
  color: #ffffff;
  font-size: 3.5rem;
  line-height: 1.8;
  margin-bottom: -1.5rem;
}

.projects {
  width: calc(100% - 4rem);
  border-inline: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
}

.projects--desktop {
  width: calc(100% - 8rem);
  max-width: 1920px;
  border-inline: 1px solid #ffffff;
  display: none;
  flex-direction: column;
}

.introduction {
  display: none;
  flex-direction: column;
  width: calc(100% - 8rem);
  border-inline: 1px solid #ffffff;
  gap: 0.75rem;
  max-width: 1920px;
}

.introduction__nne {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.introduction__nne-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

.introduction__pic-container {
  position: relative;
  flex: 1;
}

.introduction__noise-bg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction__moodynne {
  position: absolute;
  display: block;
  width: 60%;
  height: auto;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.skills {
  display: none;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
  width: calc(100% - 8rem);
  max-width: 1920px;
}

.skills__spacing-row {
  grid-column: 1 / 5;
  width: 100%;
  height: 4rem;
  border-inline: 1px solid #ffffff;
}

.skills__spacing-row:nth-child(2) {
  grid-column: span 8;
  border-left: none;
  border-right: 1px solid #ffffff;
}

.skills__text-container {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  border-inline: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.skills__text-container h2 {
  font-family: "TT Commons Black";
  text-align: center;
  font-size: clamp(5rem, 1.5rem + 7.2917vw, 12rem);
  color: #ffffff;
}

.skills__arrow {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: clamp(1rem, 0.25rem + 1.5625vw, 2.5rem) clamp(1.25rem, -0.125rem + 2.8646vw, 4rem);
}

.skills__chip-container {
  grid-column: span 8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 0.25rem + 0.5208vw, 1rem);
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding: clamp(0.5rem, 0.25rem + 0.5208vw, 1rem);
  flex-wrap: wrap;
}

.skills__chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(0.5rem, 0.25rem + 0.5208vw, 1rem) clamp(0.75rem, -0.3125rem + 2.2135vw, 2.875rem);
  background-color: #ffffff;
  border-radius: 100px;
}

.skills__chip p {
  font-family: "Gravita GEO Medium";
  font-size: clamp(0.625rem, 0.3125rem + 0.651vw, 1.25rem);
  font-weight: normal;
  padding-top: 0.1rem;
}

.quote {
  display: none;
  align-items: stretch;
  justify-content: center;
  grid-column: 1 / -1;
  width: calc(100% - 8rem);
  max-width: 1920px;
  background-color: #ffffff;
  border-inline: 1px solid #ffffff;
  gap: clamp(1rem, 0.5rem + 1.0417vw, 2rem);
  padding: 2rem 0;
  margin-top: 3rem;
}

.quote__figure {
  display: block;
  object-fit: contain;
}

.quote__text-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.quote__text-group h2 {
  font-family: "Gravita GEO Regular";
  font-size: clamp(1.5rem, 1.3125rem + 0.3906vw, 1.875rem);
}

.quote__text-group p {
  font-family: "Gravita GEO Light";
  font-size: 1.25rem;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  .arrows--mobile {
    display: none;
  }
  .title--mobile {
    display: none;
  }
  .projects {
    display: none;
  }
  .projects--desktop {
    display: flex;
    flex-direction: column;
  }
  .quote,
  .introduction {
    display: flex;
  }
  .skills {
    display: grid;
  }
}

/* lg */
@media (min-width: 1024px) {
  .introduction,
  .skills,
  .quote,
  .projects--desktop {
    width: 73%;
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}

/* 3xl */
@media (min-width: 1920px) {
}
