.project-card {
  display: flex;
  flex-direction: column;
}

.project-card:first-child {
  margin-top: 1.5rem;
}

.project-card__media {
  display: block;
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.project-card__media--focus-top-left {
  object-position: left top;
}

.project-card__media--focus-bottom {
  object-position: bottom;
}

.project-card__infos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem 1.5rem 1.25rem;
}

.project-card__title {
  font-family: "Gravita GEO Light";
  font-size: 1rem;
  color: #ffffff;
  font-weight: normal;
}

.project-card__description {
  font-family: "Dosis Light";
  font-size: 0.75rem;
  color: #ffffff;
  line-height: 1.1;
}
