.project {
  display: flex;
  flex-direction: column;
}

.jpo__support,
.project__section,
.project__pictures,
.project__title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  grid-column: 1 / -1;
}

.project__title {
  row-gap: 1rem;
}

.project__title h2 {
  font-family: "TT Commons Light";
  font-size: clamp(2.5rem, 0.1867rem + 4.8194vw, 5.97rem);
  color: #ffffff;
  font-weight: 500;
  grid-column: 2 / 12;
  white-space: nowrap;
  margin-top: 1rem;
}

.project__title p {
  margin-bottom: 0.5rem;
}

.project__section--marmite-pics {
  column-gap: clamp(0.5rem, -0.1667rem + 1.3889vw, 1.5rem);
}

.project__pictures {
  gap: clamp(0.5rem, -0.1667rem + 1.3889vw, 1.5rem);
}

.project__pictures--anthropologie {
  column-gap: 0.75rem;
}

.project__paragraph {
  font-family: "Dosis Light";
  font-size: 1rem;
  color: #ffffff;
  font-weight: normal;
  line-height: 1.4;
  margin-left: -1px;
  grid-column: 2 / 12;
}

.project__smaller-title {
  font-family: "TT Commons Thin";
  font-size: 2rem;
  color: #ffffff;
  grid-column: 2 / 12;
  margin-top: 1rem;
  font-weight: 400;
  margin-left: -2px;
}

.takeabreak__first-pic,
.memoire__first-pic,
.anthro__first-pic,
.meeal__first-pic,
.marmite-joyeuse__first-pic {
  width: 100%;
  height: 100%;
  grid-column: span 5;
  object-fit: contain;
  background-color: #ffffff;
  padding: 1rem;
  display: block;
  outline: 1px solid #ffffff;
}
.memoire__first-pic,
.anthro__first-pic,
.meeal__first-pic {
  padding: 0;
  background-color: none;
  border-left: none;
}

.takeabreak__first-pic {
  padding: 4rem;
}

.takeabreak__second-pic,
.memoire__second-pic,
.anthro__second-pic,
.meeal__second-pic,
.marmite-joyeuse__second-pic {
  width: 100%;
  height: 100%;
  grid-column: span 7;
  object-fit: fill;
  display: block;
  outline: 1px solid #ffffff;
}

.meeal_third-pic-container {
  position: relative;
  display: flex;
  grid-column: 1 / -1;
  width: 100%;
}

.takeabreak__second-pic,
.takeabreak__third-pic,
.anthro__other-pic,
.meeal__third-pic,
.marmite-joyeuse__other-pic {
  width: 100%;
  height: 100%;
  grid-column: span 4;
  object-fit: contain;
  display: block;
  outline: 1px solid #ffffff;
}
.takeabreak__second-pic {
  grid-column: span 7;
  object-fit: cover;
  outline: none;
}
.takeabreak__third-pic,
.meeal__third-pic {
  grid-column: 1 / -1;
}

.takeabreak__third-pic-container {
  position: relative;
  display: flex;
  grid-column: 1 / -1;
  width: 100%;
}

.takeabreak__man,
.takeabreak__woman {
  position: absolute;
  display: block;
  object-fit: contain;
  width: 27.5%;
  height: auto;
  top: -30.5%;
  right: 1%;
}

.takeabreak__man {
  right: 0;
  left: -1.5%;
  top: -27.5%;
  width: 31.5%;
}

.takeabreak__mockup,
.anthro__cover,
.meeal__mockup {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  grid-column: span 2;
}
.takeabreak__mockup--first,
.anthro__cover--first,
.meeal__mockup--first {
  grid-column: 2 / span 2;
}

.meeal__first-phone {
  position: absolute;
  display: block;
  height: auto;
  width: 20.5%;
  top: -3%;
  left: -2%;
}

.meeal__second-phone {
  position: absolute;
  display: block;
  height: auto;
  width: 50%;
  top: -25%;
  right: -10%;
}

.dopler__pic {
  display: block;
  width: 100%;
  height: auto;
  grid-column: 2 / 12;
  object-fit: contain;
}

.memoire__pictures {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.memoire__pictures img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border: 1px solid #ffffff;
}

.marmite-joyeuse__stacked-pics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, -0.1667rem + 1.3889vw, 1.5rem);
  grid-column: 2 / 7;
}

.marmite-joyeuse__support-pic {
  width: 100%;
  height: auto;
  object-fit: contain;
  outline: 1px solid #ffffff;
}

.marmite-joyeuse__tall-pic-container {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 7 / 12;
}

.marmite-joyeuse__tall-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 1px solid #ffffff;
}

.marmite-joyeuse__business-card {
  position: absolute;
  aspect-ratio: 1.33 / 1;
  width: 150%;
  object-fit: contain;
  top: -6%;
  left: -21%;
}

.marmite-joyeuse__post-it {
  position: absolute;
  aspect-ratio: 1.5 / 1;
  width: 200%;
  object-fit: contain;
  bottom: -5%;
  left: -39%;
}

.memoire__vid {
  border: 1px solid #ffffff;
  grid-column: 1 / -1;
  display: block;
  height: auto;
  width: 100%;
}

.memoire__big-pic,
.memoire__small-pic {
  width: 100%;
  height: auto;
  display: block;
  grid-column: span 5;
}

.memoire__small-pic:first-child {
  grid-column: 2 / 7;
}

.jpo__first-pic,
.memoire__big-pic {
  grid-column: 2 / 12;
}

.jpo__first-pic {
  width: 100%;
  height: auto;
}

.jpo__other-pic {
  width: 100%;
  height: auto;
  grid-column: span 5;
}

.jpo__other-pic:nth-child(2) {
  grid-column: 2 / 7;
}

.jpo__logotype,
.meeal-sans__logotype {
  width: 100%;
  height: 290px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center center;
  grid-column: 2 / 12;
}

.meeal-sans__characters {
  width: 100%;
  height: auto;
  object-fit: contain;
  grid-column: 2 / 12;
  display: block;
  background-color: #ffca00;
  padding: 4rem;
  border: 1px solid #ffffff;
}

.jpo__support {
  gap: clamp(0.5rem, -0.1667rem + 1.3889vw, 1.5rem);
}

.jpo__first-pic {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .project__smaller-title {
    font-size: 2.5rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .project__paragraph {
    font-size: 1.25rem;
  }
  .project__smaller-title {
    font-size: 3.5rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .project__smaller-title {
    font-size: 4rem;
  }
}

/* 3xl */
@media (min-width: 1920px) {
  .project__smaller-title {
    font-size: 5rem;
  }
}
