body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("./../../img/background.png") repeat center;
  min-height: 100vh;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
