:root {
  --font-size-2x-small: 0.625rem;
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-2x-large: 2.25rem;
  --font-size-3x-large: 3rem;
  --font-size-4x-large: 4.5rem;
}
