@import url("./base/base.css");
@import url("./base/project.css");

@import url("./layout/header.css");
@import url("./layout/footer.css");

@import url("./components/divider.css");

@import url("./utils.css");

@font-face {
  font-family: "Gravita GEO Medium";
  src: url("./../fonts/Gravita-GEO-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Dosis Light";
  src: url("./../fonts/Dosis-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Light";
  src: url("./../fonts/TT-Commons-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Thin";
  src: url("./../fonts/TT-Commons-Thin.otf");
  font-display: swap;
}

.project__other-title--jpo-diderot {
  margin-top: clamp(1.25rem, 0.4545rem + 3.9773vw, 3rem);
}

.project__pictures--jpo-diderot {
  gap: clamp(0.5rem, 0.3387rem + 0.8065vw, 1.5rem);
}

.jpo-diderot__other-pic,
.jpo-diderot__gif,
.jpo-diderot__logotype {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.jpo-diderot__gif,
.jpo-diderot__logotype {
  grid-column: 2 / 12;
}

.jpo-diderot__other-pic {
  grid-column: span 5;
}

.jpo-diderot__other-pic--left {
  grid-column: 2 / 7;
}
