@import url("./base/base.css");
@import url("./base/project.css");

@import url("./layout/header.css");
@import url("./layout/footer.css");

@import url("./components/colorful_range.css");
@import url("./components/divider.css");

@import url("./utils.css");

@font-face {
  font-family: "Gravita GEO Medium";
  src: url("./../fonts/Gravita-GEO-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Dosis Light";
  src: url("./../fonts/Dosis-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Light";
  src: url("./../fonts/TT-Commons-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Thin";
  src: url("./../fonts/TT-Commons-Thin.otf");
  font-display: swap;
}

.project__pictures--meeal {
  margin-top: clamp(1.5rem, 1.4194rem + 0.4032vw, 2rem);
  gap: clamp(0.5rem, 0.2782rem + 1.1089vw, 1.875rem);
  align-items: stretch;
}

.project__paragraph--meal {
  margin-top: clamp(1.5rem, 1.1573rem + 1.7137vw, 3.625rem);
  margin-bottom: clamp(1rem, 0.6573rem + 1.7137vw, 3.125rem);
}

.meeal__mockup,
.meeal__second-phone,
.meeal__first-phone,
.meeal__third-pic,
.meeal__second-pic,
.meeal__first-pic {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.meeal__first-pic {
  grid-column: span 5;
}

.meeal__second-pic {
  grid-column: span 7;
  object-fit: cover;
}

.meeal__third-pic-wrapper {
  position: relative;
  grid-column: 1 / -1;
  width: 100%;
}

.meeal__first-phone {
  position: absolute;
  top: -2.5%;
  left: -2.5%;
  width: 20%;
}

.meeal__second-phone {
  position: absolute;
  top: -2.5%;
  right: -2.5%;
  width: 20%;
}

.meeal__mockup {
  grid-column: span 2;
}

.meeal__mockup:first-child {
  grid-column: 2 / 4;
}
