@import url("./base/base.css");
@import url("./base/project.css");

@import url("./layout/header.css");
@import url("./layout/footer.css");

@import url("./components/colorful_range.css");
@import url("./components/divider.css");

@import url("./utils.css");

@font-face {
  font-family: "Gravita GEO Medium";
  src: url("./../fonts/Gravita-GEO-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Dosis Light";
  src: url("./../fonts/Dosis-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Light";
  src: url("./../fonts/TT-Commons-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Thin";
  src: url("./../fonts/TT-Commons-Thin.otf");
  font-display: swap;
}

.project__other-title--meal-sans {
  margin-top: clamp(1.25rem, 0.4545rem + 3.9773vw, 3rem);
}

.meeal-sans__medias {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.meeal-sans__medias {
  grid-column: 2 / 12;
}
