@import url("./base/base.css");
@import url("./base/project.css");

@import url("./layout/header.css");
@import url("./layout/footer.css");

@import url("./components/colorful_range.css");
@import url("./components/divider.css");

@import url("./utils.css");

@font-face {
  font-family: "Gravita GEO Medium";
  src: url("./../fonts/Gravita-GEO-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "Dosis Light";
  src: url("./../fonts/Dosis-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Light";
  src: url("./../fonts/TT-Commons-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "TT Commons Thin";
  src: url("./../fonts/TT-Commons-Thin.otf");
  font-display: swap;
}

.project__pictures--take-a-break {
  grid-column: 1 / -1;
  margin-top: clamp(1.5rem, 1.4194rem + 0.4032vw, 2rem);
  gap: clamp(0.5rem, 0.3387rem + 0.8065vw, 1.5rem);
}

.take-a-break__mockup,
.take-a-break__man,
.take-a-break__woman,
.take-a-break__third-pic,
.take-a-break__second-pic,
.take-a-break__first-pic {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 0;
}

.take-a-break__top-pic-wrapper {
  grid-column: 1 / -1;
  display: flex;
  gap: clamp(0.5rem, 0.3387rem + 0.8065vw, 1.5rem);
}

.take-a-break__third-pic-wrapper {
  grid-column: 1 / -1;
  position: relative;
  width: 100%;
}

.take-a-break__first-pic {
  width: 37.36%;
  object-fit: cover;
}

.take-a-break__second-pic {
  width: 62.64%;
}

.take-a-break__third-pic {
  grid-column: 1 / -1;
}

.take-a-break__man {
  position: absolute;
  left: -2%;
  bottom: 0;
  width: 30%;
}

.take-a-break__woman {
  position: absolute;
  right: 0.5%;
  bottom: 0;
  width: 26%;
}

.take-a-break__cover {
  grid-column: 2 / 12;
  display: flex;
  width: 100%;
  gap: clamp(0.5rem, 0.3387rem + 0.8065vw, 1.5rem);
}
